.cs-preview {
  display: none;

  .cs-preview-top {
    padding: 15px 0;
    position: relative;
    overflow: hidden;

    .cs-preview-top-prev-btn {
      position: absolute;
      left: 0;
      top: 20px;
    }

    .cs-preview-top-next-btn {
      position: absolute;
      right: 0;
      top: 20px;
    }
  } 
}

.cs-preview-active {
  display: block;
}
