@import '../default.less';
@headerTitlePrefixCls: cs-header-title;

.@{headerTitlePrefixCls} {
  padding: 12px 0;
  background-color: @backgroundColor;
  font-weight: bold;

  &-cell {
    text-align: center;
    color: #fff;
    padding: 0 4px;
  }
}