@width: 1080px;
@logoWidth: 200px;

@headerHeight: 64px;
@headerLineHeight: 64px;

@backgroundColor: #337ab7;
@hoverBackgroundColor: #003D79;

@largeDistance: 24px;
@middleDistance: 16px;
@smallDistance: 8px;

@willendareColor: #337ab7;

@topNavHeight: 64px;

@topShadowColor: tint(@willendareColor, 50%);

@baseWidth: 1080px;

@baseBackgroundColor: #F5F5F5;

@white: #FFF;