@willendareColor: #337ab7;

@topNavHeight: 64px;

@topShadowColor: tint(@willendareColor, 50%);

@baseWidth: 1080px;

@baseBackgroundColor: #ECECEC;

#app, #app>div, .viewport, body, html {
  height: 100%;
}

#viewport {
  position: relative;
  height: 100%;
  padding: @topNavHeight 0 20px 0;
  background-color: @baseBackgroundColor;
}