@willendareColor: #337ab7;

@topNavHeight: 64px;

@topShadowColor: tint(@willendareColor, 50%);

@baseWidth: 1080px;

@baseBackgroundColor: #F5F5F5;

@white: #FFF;

#root, #app, #app>div, body, html {
  width: 100%;
  height: 100%;
  min-width: 1080px;
}

body {
  background-color: @baseBackgroundColor !important;
}