{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [[
    "import",
    { "libraryName": "antd", "style": true }
  ], [
    "transform-object-assign"
  ]],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}