{
  "presets": [
    ["es2015", { "module": false }],
    "stage-0",
    "react"
  ],

  "plugins": [[
    "import",
    { "libraryName": "antd", "style": true }
  ], [
    "transform-object-assign"
  ], "react-hot-loader/babel"]
}