{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [[
    "antd",
    { "libraryName": "antd", "style": true }
  ]],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}