#ignore node_modules
.hg/
webapp/static/js/node_modules/
webapp/static/js/PhantomJS*/
flask_session/
*.swp
*.orig
*.rej
*.log
*.dot
*.pyc
*.bak
output/
dbcenter/
repo/
default_repo/
Index/
account/
lsimodel/
celerybeat-schedule
similarity.*
raw/
tags/
classify/
cvstorage/
additional/
Index/
webapp/static/node_modules/
webapp/static/dist/
webapp/static/rev/
webapp/app/node_modules/
webapp/templates_dist/
