#ignore node_modules
.hg/
webapp/static/
webapp/static/js/node_modules/
webapp/static/js/PhantomJS*/
flask_session/
*.swp
*.orig
*.rej
*.log
*.dot
*.pyc
*.bak
celerybeat-schedule
output/
repo/
Index/
account/
password/
lsimodel/
raw
config/
raw/
tags/
cutwords/
projects/
classify/
storage/
webapp/app/dist
webapp/static/node_modules/
webapp/static/dist/
webapp/static/rev/
webapp/app/node_modules/
webapp/templates_dist/
tests/lsisim
tests/lsimodel_words
demostorage/
demorepo/
