body {
  background-color: #f5f5f5;
}

.main {
  width: 720px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.main > .main-header, .side .wrap-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 1.142em;
  border-bottom: 1px solid #ccc; 
  background-color: #eee;
  overflow: hidden;
}

.main-header .uploader {
  float: right;
}

.main .tool-bar {
  padding-top: 6px;
  padding-bottom: 6px;
}

.tool-bar a {
  margin-left: 16px;
}

.cv-title-wrap {
  display: none;
}

.cv-title-wrap .title-btn {
  width: 120px;
  margin-left: 300px;
}

.summary {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.summary .summary-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.summary .summary-row .summary-cell {
  display: inline-block;
  width: 48%;
}

.summary .feild {
  font-weight: bold;
}

.ex > div {
  float: left;
}

.summary .ex-item {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
}

.side {
  position: absolute;
  width: 340px;
  height: 400px;
  z-index: 999;
  margin-left: 740px;
  top: 0;
}

.side .wrap-header {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.side .side-container {
  width: 100%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px 15px;
  background: #fff;
}

.side .btn-box {
  position: relative;
  display: none;
  margin-top: 6px;
}

.side .btn-box .fold {
  position: absolute;
  left: 0;
  bottom: 0;
}

.tag-btn, .tracking-btn, .comment-btn {
  width: 100px;
  margin-top: 6px;
  margin-left: 104px;
}

.follow-up-wrap, .comment-wrap, .similar-wrap {
  margin-top: 8px;
}

.tracking-content, .comment-content, .similar-content {
  width: 100%;
  margin-bottom: 4px;
  margin-top: 2px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  overflow-y: auto;
}

.tracking-content, .comment-content, .similar-content {
  max-height: 80px;
}

.tracking-item, .comment-item, .similar-item {
  padding: 4px 6px;
  border-bottom: 1px dotted #ccc;
}

.cv p {
  position: relative;

  display: table;

  width: 100%;
  margin: 0;
  padding: 6px 0;

  text-indent: 12px;

  border: 1px solid #c2c2c2;
}

.cv h1,
h2,
h3
{
  font-size: 1em; 
  font-weight: bold;

  display: table;

  width: 100%;
  margin: 0;
  padding: 6px 0 6px 4px;

  border: 1px solid #c2c2c2;
}

.cv table
{
  width: 100%;
}

.cv table thead
{
  border: 1px solid #c2c2c2;
}

.cv table thead tr th
{
  font-size: 1em;
  font-weight: bold;

  text-align: center;
}

.cv table tr:nth-child(odd)
{
  background-color: #ebebeb;
}

.cv table tbody
{
  border: 1px solid #c2c2c2;
}

.cv table tbody tr td
{
  line-height: 24px;

  position: relative; 

  text-align: left;

  border: 1px solid #c2c2c2;
}