.container-fluid{
	margin-top: 10px;
}
.wrap-right{
	width: 30%;
	position: fixed;
	right: 1%;
}
.wrap-left{
	width: 68%;
}
.wrap-left img{
	width: 80px;
	height: 100px;
}
.tracking-box, .comment-box, .similar-box{
	width: 100%;
	height: auto;
	padding: 0 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #ccc;
	-webkit-box-shadow: 0 0 10px #c2c2c2;
	-moz-box-shadow: 0 0 10px #c2c2c2;
	-ms-box-shadow: 0 0 10px #c2c2c2;
	-o-box-shadow: 0 0 10px #c2c2c2;
	box-shadow: 0 0 10px #c2c2c2;
}
.comment-box, .similar-box{
	margin-top: 8px;
}
#similar-person{
	padding: 6px;
}
#similar-person a{
	margin-right: 6px;
}
.label-box{
	width: 100%;
	height: auto;
	margin-bottom: 4px;
}
#add-label{
	font-size: 0.75em;
}
.title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	text-indent: 2px;
}
.form-input{
	margin-top: 2px;
	background-color: #fbfbfb;
}
.form-input .form-group{
	margin: 2px;
}
#tracking-btn, #comment-btn{
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 2px;
}
#comment-btn{
	margin-top: 2px;
}
.btn-box{
	display: none;
	position: relative;
}
.tracking-content, .comment-content{
	width: 100%;
	margin-bottom: 4px;
	margin-top: 2px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	overflow-y: auto;
}
.tracking-content{
	max-height: 100px;
}
.comment-content{
	max-height: 140px;
}
.add-label-box{
	display: none;
	margin-top: 2px;
	width: 50%;
}
.tracking-item, .comment-item{
	padding: 6px 8px;
	border-bottom: 1px dotted #e1e1e1;
}
.tracking-item p, .comment-item p{
	margin: 0;
	padding: 0;
}
.commit-info{
	display: block;
	padding-top:2px;
	font-size: 1.075em;
}
.comment-item .content{
	text-indent: 12px;
}
.collapse{
	position: absolute;
	display: block;
	left: 8px;
	bottom: 6px;
	font-size: 0.85em;
}
.label-primary{
	cursor: pointer;
}
.tool-bar{
	width: 55%;
	float: right;
}
.tool-bar .check-box{
	font-size: 0.88em;
	margin-right: 20px;
}
.tool-bar a{
	margin-right: 8px;
}
#title-submit-btn{
	display:none;
}
.summary {
	padding: 4px 6px;
	border: 1px dashed #e2e2e2;
	margin-bottom: 10px;
}
.name, .age, .education, .school, .position, .company {
	display: inline-block;
	line-height: 1.5em;
}
.summary > .name {
	width: 12%;
}
.summary > .age {
	width: 10%;
}
.summary > .education {
	width: 16%;
}
.summary > .school {
	width: 26%;
}
.summary > .position {
	width: 34%;
}
.work-experience li{
	line-height: 1.375em;
	overflow: hidden;
}
.summary .experience-time {
	display: block;
	width: 20%;
	float: left;
}
.summary .experience-company {
	display: block;
	width: 79%;
	float: left;
}
