.mg-center
{
    margin: 0 auto;
}

.wd-30
{
    width: 30px;
}

.wd-60
{
    width: 60px;
}

.wd-70
{
    width: 70px;
}

.wd-80
{
    width: 80px;
}

.wd-88
{
    width: 88px;
}

.wd-100
{
    width: 100px;
}

.wd-120
{
    width: 120px;
}

.wd-160
{
    width: 160px;
}

.wd-180
{
    width: 180px;
}

.wd-200
{
    width: 200px;
}

.wd-240
{
    width: 240px;
}

.wd-360
{
    width: 360px;
}

.pd-l-10
{
    padding-left: 10px;
}

.pd-r-10
{
    padding-right: 10px;
}

.pd-lr-5
{
    padding-right: 5px;
    padding-left: 5px;
}

.pd-lr-10
{
    padding-right: 10px;
    padding-left: 10px;
}

.pd-l-15
{
    padding-left: 15px;
}

.pd-lr-15
{
    padding-right: 15px;
    padding-left: 15px;
}

.bd-l-1
{
    border-left: 1px solid #eee;
}

.bd-r-1
{
    border-right: 1px solid #eee;
}

header
{
    width: 100%;
    height: 50px;

    background-color: #337ab7;
}

.header-wrap
{
    position: relative;

    width: 1060px;
    height: inherit;
}

.logo-wrap
{
    line-height: 50px;

    position: absolute;
}

.sf
{
    padding-top: 8px;
}

.header-search
{
    width: 300px;
}

.nav-list
{
    position: absolute;
    top: 0;
    right: 20px;
}

.nav-list > li
{
    line-height: 50px;

    display: inline-block;
    float: left;

    width: 100px;
    height: 50px;

    text-align: center;
}

.nav-list > li > a
{
    font-size: 1.05em;
    font-weight: bold;

    display: block;

    width: 100%;
    height: 100%;

    color: #fff;
}

.nav-list .open > a,
.nav-list .open > a:hover,
.nav-list .open > a:focus,
.nav-list > li > a:hover,
.nav-list > li > a:focus
{
    text-decoration: none;

    background-color: #004b97;
}

.nav-list > li > .dropdown-menu
{
    font-size: 1.05em;
}

.header-box form
{
    width: 30%;
    margin: 0 auto;
    padding-top: 8px;
}

#error-msg
{
    color: #ea0000;
}

/*  search page css. search input css*/
.wrapper
{
    position: relative;

    width: 100%;
}

.search-box
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 720px;
    height: 120px;
    margin-top: -60px;
    margin-left: -360px;
}

.search-btn
{
    font-weight: bold;

    width: 320px;
    margin-top: 30px;
    margin-left: 200px;
}

#uploading,
#upload-success,
#upload-fail
{
    font-weight: bold;

    display: none;
}

#file
{
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 0 6px #c2c2c2;
       -moz-box-shadow: 0 0 6px #c2c2c2;
            box-shadow: 0 0 6px #c2c2c2;

        -ms-box-shadow: 0 0 6px #c2c2c2;
         -o-box-shadow: 0 0 6px #c2c2c2;
        -ms-border-radius: 6px;
         -o-border-radius: 6px;
}

#progressmsg
{
    font-size: 1.075em;
    font-weight: bold;

    padding: 10px 0 0;
}

.type-check
{
    display: inline-block;

    width: 200px;
    height: 24px;
    margin-top: -24px;
}

@media (max-width: 991px)
{
    .type-check
    {
        bottom: -30px;
    }
}

.type-check label
{
    position: relative;

    display: block;

    width: 40px;
    height: 22px;
    padding: 1px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;

    border-color: #000;
    border-radius: 24px;

         -o-user-select: none;
}

.type-check label::before
{
    display: block;

    height: 22px;

    content: '';
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
         -o-transform: scale(1, 1);

    border-radius: 24px;
    background-color: white;
}

.type-check label::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 22px;
    height: 22px;
    margin-top: -11px;
    margin-left: -11px;

    content: '';
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
    -webkit-transform: translateX(-9px);
       -moz-transform: translateX(-9px);
        -ms-transform: translateX(-9px);
         -o-transform: translateX(-9px);

    border-radius: 100%;
    background-color: #143959;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08);
}

.type-check .check-btn
{
    /*visibility: hidden;*/
    display: none;
}

.type-check input[type=checkbox]:checked ~ label
{
    background-color: #337ab7;
}

.type-check input[type=checkbox]:checked ~ label::before
{
    -webkit-transform: scale(0, 0);
       -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
         -o-transform: scale(0, 0);
}

.type-check input[type=checkbox]:checked ~ label::after
{
    -webkit-transform: translateX(9px);
       -moz-transform: translateX(9px);
        -ms-transform: translateX(9px);
         -o-transform: translateX(9px);
}

#serachbysentence
{
    display: none;
}

.hide-param
{
    display: none;
}
