body
{
    display: block;

    height: 100%;
}

.mg-center
{
    margin: 0 auto;
}

.wd-30
{
    width: 30px;
}

.wd-44
{
    width: 44px;
}


.wd-54 {
    width: 54px;
}

.wd-66 {
    width: 66px;
}

.wd-76 {
    width: 76px;
}

.wd-70
{
    width: 70px;
}

.wd-80
{
    width: 80px;
}

.wd-100
{
    width: 100px;
}

.wd-120
{
    width: 120px;
}

.wd-140
{
    width: 140px;
}

.wd-148
{
    width: 148px;
}

.wd-160
{
    width: 160px;
}

.wd-180
{
    width: 180px;
}

.wd-200
{
    width: 200px;
}

.wd-240
{
    width: 240px;
}

.wd-360
{
    width: 360px;
}

.wd-800
{
    width: 800px;
}

.pd-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pd-l-10
{
    padding-left: 10px;
}

.pd-r-10
{
    padding-right: 10px;
}

.pd-lr-5
{
    padding-right: 5px;
    padding-left: 5px;
}

.pd-lr-10
{
    padding-right: 10px;
    padding-left: 10px;
}

.pd-l-15
{
    padding-left: 15px;
}

.pd-lr-15
{
    padding-right: 15px;
    padding-left: 15px;
}

.bd-l-1
{
    border-left: 1px solid #eee;
}

.bd-r-1
{
    border-right: 1px solid #eee;
}

header
{
    width: 100%;
    height: 50px;

    background-color: #337ab7;
    z-index: 9;
}

.header-wrap
{
    position: relative;

    width: 1060px;
    height: inherit;
}

.logo-wrap
{
    line-height: 50px;

    position: absolute;
}

.logo-wrap .logo-box
{
    display: inline-block;
}

.sf
{
    padding-top: 8px;
}

.header-search
{
    width: 300px;
}

.nav-list
{
    position: absolute;
    top: 0;
    right: 20px;
}

.nav-list > li
{
    line-height: 50px;

    display: inline-block;
    float: left;

    width: 100px;
    height: 50px;

    text-align: center;
}

.nav-list > li > a
{
    font-size: 1.05em;
    font-weight: bold;

    display: block;

    width: 100%;
    height: 100%;

    color: #fff;
}

.nav-list .open > a,
.nav-list .open > a:hover,
.nav-list .open > a:focus,
.nav-list > li > a:hover,
.nav-list > li > a:focus
{
    text-decoration: none;

    background-color: #004b97;
}

.nav-list > li > .dropdown-menu
{
    font-size: 1.05em;
}

.header-box form
{
    width: 30%;
    margin: 0 auto;
    padding-top: 8px;
}

#error-msg
{
    color: #ea0000;
}

#modelMenu {
  width: 80px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 300px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}