.mg-center {
  margin: 0 auto;
}

.wd-56 {
  width: 56px;
}

.wd-60 {
  width: 60px;
}

.wd-80 {
  width: 80px;
}

.wd-100 {
  width: 100px;
}

.wd-120 {
  width: 120px;
}

.wd-180 {
  width: 180px;
}

.wd-200 {
  width: 200px;
}

.wd-240 {
  width: 240px;
}

.wd-360 {
  width: 360px;
}

.pd-l-10 {
  padding-left: 10px;
}

.pd-r-10 {
  padding-right: 10px;
}

.pd-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-l-15 {
  padding-left: 15px;
}

.pd-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.bd-l-1 {
  border-left: 1px solid #eee;
}

.bd-r-1 {
  border-right: 1px solid #eee;
}

header {
  width: 100%;
  height: 50px;

  background-color: #337ab7;
}

.header-wrap {
  position: relative;
  width: 1060px;
}

.logo-wrap {
  display: inline-block;
  line-height: 50px;
}

.sf {
  padding-top: 8px;
}

.header-search {
  width: 300px;

}

.nav-list{
  position: absolute;
  top: 0;
  right: 20px;
}
.nav-list > li{
  display: inline-block;
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.nav-list > li > a{
  display: block;
  width: 100%;
  height: 100%;
  color:#fff;
  font-size: 1.05em;
  font-weight: bold;
}
.nav-list .open > a, .nav-list .open > a:hover, .nav-list .open > a:focus, .nav-list > li > a:hover, .nav-list > li > a:focus{
  background-color: #004B97;
  text-decoration: none;
}
.nav-list > li > .dropdown-menu{
  font-size: 1.05em;
}
.header-box form{
  width: 30%;
  margin: 0 auto;
  padding-top: 8px;
}
#error-msg{
  color: #EA0000;
}
/*  search page css. search input css*/
.form-wrap{
  position: relative;
}
.search-box{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.search-btn{
  width: 100%;
  margin-top: 30px;
  font-weight: bold;
}
#uploading, #upload-success, #upload-fail{
  display: none;
  font-weight: bold;
}
#file{
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 6px #c2c2c2;
  -moz-box-shadow: 0 0 6px #c2c2c2;
  -ms-box-shadow: 0 0 6px #c2c2c2;
  -o-box-shadow: 0 0 6px #c2c2c2;
  box-shadow: 0 0 6px #c2c2c2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#progressmsg{
  padding: 10px 0 0;
  font-size: 1.075em;
  font-weight: bold;
}
.type-check{
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 24px;
  vertical-align: top;
  left: 28px;
  bottom: 6px;
}
@media (max-width: 991px) {
  .type-check{
    bottom: -30px;
  }
}
.type-check label{
  position: relative;
  display: block;
  padding: 1px;
  border-radius: 24px;
  width: 40px;
  height: 22px;
  border-color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-transition: all .3s ease;
}
.type-check label::before {
  content: '';
  display: block;
  border-radius: 24px;
  height: 22px;
  background-color: white;

  -webkit-transform: scale(1, 1);
  -webkit-transition: all 0.3s ease;
}
.type-check label::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
  display: block;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  background-color: #143959;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
  -webkit-transform: translateX(-9px);
  -webkit-transition: all 0.3s ease;
}
.type-check .check-btn {
  /*visibility: hidden;*/
  display: none;
}

.type-check input[type=checkbox]:checked~label {
  background-color: #337ab7;
}

.type-check input[type=checkbox]:checked~label::before {
  -webkit-transform: scale(0, 0);
}

.type-check input[type=checkbox]:checked~label::after {
  -webkit-transform: translateX(9px);
}
#serachbysentence{
  display: none;
}
.hide-param {
  display: none;
}
