.tool-bar-wrap {
  border: 1px solid #eee;
  padding: 10px 15px;
  width: 1024px;
  height: auto;
  margin-top: 20px;
  background-color: #f5f5f5;
  font-size: .875em;
  color: #555;
}

.tool-bar-wrap .cw,
.tool-bar-wrap .aw {
  width: 490px;
  float: left;
}

.tool-bar-wrap .cw .r-amount {
  font-size: 1em;
  font-weight: bold;
}

.as-btn-group {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.rl {
  margin-top: 10px;
  width: 1024px;
}

.ls {
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.field{
  border-bottom: 1px solid #eee;
  background-color: #337AB7;
}

.blank-line {
  height: 4px;
}

.field > .field-item {
  height: 42px;
  line-height: 42px;
  color: #f5f5f5;
}

.ls-item {
  margin-bottom: 4px;
  color: #555;
  font-size: .857em;
}

.basic-info {
  background-color: #f5f5f5;
}

.basic-info > .bs-info-item {
  heigth: 32px;
  line-height: 32px;
}

.extend-info {
  position: relative;
  padding: 10px 15px;
  background-color: #eee;
}

.extend-info .wk-ex,
.extend-info .ed-ex,
.extend-info .wk-status {
  float: left;
}

.extend-info > .bd-r-1 {
  border-right: 1px dotted #ccc;
}

.wk-ex span,
.ed-ex span,
.wk-status span {
  display: inline-block;
}

.omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-fixed {
  position: fixed;
  width: 1024px;
  top: 0;
  z-index: 999;
}

.ex-fold {
  display: none;
}
