.tool-bar-wrap {
  position: relative;
  border: 1px solid #eee;
  padding: 10px 20px;
  width: 1080px;
  height: auto;
  margin-top: 20px;
  background-color: #f5f5f5;
  font-size: .875em;
  color: #555;
}

.tool-bar-wrap .cw {
  width: 560px;
  float: left;
}

.tool-bar-wrap .aw {
  width: 400px;
  float: left;
}

.tool-bar-wrap .s-st .r-amount {
  display: inline-block;
  margin-right: 32px;
  font-size: 1em;
  font-weight: bold;
}

.as-btn-group {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.rl {
  margin-top: 10px;
  width: 1080px;
}

.ls {
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.field{
  border-bottom: 1px solid #eee;
  background-color: #337AB7;
}

.blank-line {
  height: 4px;
}

.field > .field-item {
  height: 42px;
  line-height: 42px;
  color: #f5f5f5;
}

.ls-item {
  margin-bottom: 4px;
  color: #555;
  font-size: .857em;
}

.basic-info {
  background-color: #f5f5f5;
}

.basic-info > .bs-info-item {
  position: relative;
  heigth: 32px;
  line-height: 32px;
}

.extend-info {
  position: relative;
  padding: 10px 15px;
  background-color: #eee;
}

.extend-info .ex,
.extend-info .wk-status {
  float: left;
}

.extend-info .ex-content {
  width: 620px;
}

.extend-info .ex-field,
.extend-info .ex-content {
  float: left;
}

.extend-info > .bd-r-1 {
  border-right: 1px dotted #ccc;
}

.omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-fixed {
  position: fixed;
  width: 1080px;
  top: 0;
  z-index: 999;
}

.ex-fold {
  display: none;
}

/*eCharts wrap*/
.chart-wrapper {
  width: 84%;
  height:500px;
  margin: 0 auto;
}
.up-down-box {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 120px;
  height: 14px;
  background-color: #fff;
  left: 50%;
  margin-left: -60px;
  bottom: 0;
}

.up-down-box span {
  margin-left: 57px;
}

.up-down-box:hover {
  background-color: #337AB7;
  cursor: pointer;
}

.up-down-box:hover span {
  color: #fff;
}

.checkbox-name {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
}

.item-title {
  display: inline-block;
  max-width: 150px;
}

.item-title:visited {
  color: #609;
}