.per-info{
  margin-top: 20px;
}
.per-info-box{
  padding: 0 34px 8px 34px;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
}
.newupdate-box, .history-info, .bookmark-info {
  margin-top: 25px;
}
.newupdate-box-top, .history-info-top, .bookmark-info-top {
  border-radius: 8px 8px 0 0;
  border: 1px solid #c2c2c2;
  background-color: #eee;
}
.newupdate-title, .history-info-title, .bookmark-info-title {
  font-size: 0.875em;
  font-weight: bold;
  text-indent: 20px;
}
.newupdate-box-bottom, .history-info-bottom, .bookmark-info-bottom {
  border-radius: 0 0 8px 8px;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}
.bookmark-info-bottom {
  max-height: 300px;
  overflow-y: scroll;
}
.list{
  margin: 0 auto;
  padding: 10px 12px 12px 8px;
}
.list-item{
  border-bottom: 1px solid #eee;
}
.list-item span{
  color: #999;
}
.list-item p{
  text-indent: 10px;
}
.list-item{
  padding-top: 4px;
  padding-bottom: 6px;
}
.list-item > a{
  margin-left: 8px;
}
.delete {
  margin-left: 10px;
}