.cs-card-container {
  position: relative;
  padding: 24px 0;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  min-height: 440px;
}

.cs-card-sider {
  width: 188px;
  float: left;
}

.cs-card-content {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;

  .cs-card-content-header {
    margin-bottom: 16px;

    .cs-card-content-title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}