.cs-job-description {
  .cs-status-selection {
    display: inline-block;
    margin-left: 10px;

    .cs-status-selection-label {
      display: inline-block;
      padding: 0 8px;
    }
  }

  .commentary-box {
    & > label {
      display: block;
      padding: 4px 0;
      font-weight: bold;
    }
  }
}


