<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Seach-Willendare</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">

  {% block style %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>
<body>
  <header class="header-box">
    <a href="/search" class="logo-box">
      <img src="{{ url_for('static',filename='images/logo.png') }}"  class="logo">
    </a>
    {% block search %}{% endblock %}
    <ul class="navbar-right nav-list list-unstyled">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="name"><span class="glyphicon glyphicon-user"></span>{{ current_user.id }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/userinfo">Individual Center</a></li>
          <li><a href="#" data-toggle="modal" data-target=".setting-modal">Change Password</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" data-toggle="modal" data-target=".quit-modal">Quit</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-upload"></span>Tools <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target=".upload-modal">Upload</a></li>
          <li><a href="/batchupload" target="_blank">Bulk Upload</a></li>
        </ul>
      </li>
      <li><a href="/listjd">Select a JD</a></li>
    </ul>
  </header>
  <!-- upload modal begin-->
  <div class="modal fade upload-modal" tabindex="-1" role="dialog" aria-labelledby="myUploadModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="UploadModalLabel">Upload File</h4>
        </div>
        <div class="modal-body">
          <form id="file-form" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file" />
            <p id="progressmsg"></p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="upload-btn">Upload</button>
        </div>
      </div>
    </div>
  </div>
  <!-- upload modal end-->
	<!--quit modal begin-->
	<div class="modal fade quit-modal" tabindex="-1" role="dialog" aria-labelledby="myQuitModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="confirmModalLabel">Confirm</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to quit?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="quit-btn">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!--quit modal end-->

    <!--setting modal begin-->
  <div class="modal fade setting-modal" tabindex="-1" role="dialog" aria-labelledby="mySettingModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="pwdModalLabel">Change password</h4>
          </div>
          <form id="cpwd-form" action="/changepassword" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="oldpassword">Old Password</label>
              <input type="password" class="form-control" name="oldpassword" id="oldpassword" placeholder="Old Password" required="required">
            </div>
            <div class="form-group">
              <label for="newpassword">New Password</label>
              <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="New Password" required="required">
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm New Password</label>
              <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" data-compare="#newpassword" placeholder="Confirm New Password" required="required" />
            </div>
            <strong id="error-msg"></strong>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="cpwd-btn">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!--setting modal end-->
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
