<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Seach-Willendare</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/plugin/uploadify/uploadify.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
  
  {% block style %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>
<body>
	<header class="header-box">
	   
    <img src="{{ url_for('static',filename='images/logo.png') }}"  class="logo">
    {% block search %}{% endblock %}
	  <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-9 profile">
	    <span id="name"><span class="glyphicon glyphicon-user"></span> {{ current_user.id }} </span>
	    <div class="profile-menu">
	      <a href="#" data-toggle="modal" data-target=".quit-modal">Quit</a>
	    </div>
	  </div>

	  <div class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 upload" data-toggle="modal" data-target=".upload-modal">
	  	<span class="glyphicon glyphicon-upload"></span> Upload
	  </div>

	</header>
	<!-- upload modal begin-->
	<div class="modal fade upload-modal" tabindex="-1" role="dialog" aria-labelledby="myUploadModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload File</h4>
          </div>
          <div class="modal-body">
            <input type="file" name="uploadify" id="uploadify" />
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="upload-btn">Upload</button>
            </div>
        </div>
      </div>
    </div>
      <!-- upload modal end-->
	<!--quit modal begin-->
	<div class="modal fade quit-modal" tabindex="-1" role="dialog" aria-labelledby="myQuitModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to quit?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="quit-btn">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!--quit modal end-->

    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>