@import '../default';
@createaccountPrefixCls: cs-createaccount;

.@{createaccountPrefixCls} {
  width: 360px;
 

  .ant-card-body {
    padding: 10px 24px;
  }

  .ant-form-item {
    margin-bottom: 5px;
  }

  .smscode {
    input{
      width: 67%;
    }
    button{
      width: 33%;
    }
  }

  .agreement{
    margin-bottom: 0px;
  }

  .ant-form-item:last-child button {
	 width : 100%;
  }
}

.ant-modal {
  .ant-form-item-control  {
    input {
      width: 70%;
    }
    img {
      height: 32px;
      vertical-align:middle;
    }
  }
}