<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/plugin/uploadify/uploadify.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cvstyle.css') }}">
      <title>CV Templates</title>
    </head>
    <body>
      <header class="header-box">
        <img src="{{ url_for('static',filename='images/logo.png') }}"  class="logo">
      </header> 
      <div class="wrap">
        {% with confirm = get_flashed_messages() %}
          {% if confirm %}
            <div class="wrap-top">
              <button type="button" class="btn btn-primary" id="confirm-btn">Confirm</button>
            </div>
          {% endif %}
        {% endwith%}
        <div id="cv-box">
          <div class="cv-box-top">
            <span>简历情况：</span>
          </div>
          <img id="loding-img" src="{{  url_for('static', filename='images/loding.gif') }}">
          {{ markdown|safe }}
        </div>
      </div>
  
      <script type="text/javascript" src="{{ url_for('static',filename='js/lib/jquery.js')}}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='js/src/cvdeal.js')}}"></script>
    </body>
</html>