{% extends "share/layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/cv_common.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/cv_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/upload_preview.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper mg-center">
  <div class="preview-wrap mg-center">
    <div class="header pd-lr-15">
      <span>Resume Preview</span>
    </div>
    <div class="cv pd-lr-15 cv-wrap">
      <div class="loading" id="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div id="cvContent" style="display:none;">
        {{ markdown|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script data-main="{{ url_for('static', filename='src/js/modules/edit.js') }}" src="{{ url_for('static', filename='lib/js/require.js') }}"></script>
{% endblock %}