{% extends "share/layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-table.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jdview.css') }}">
{% endblock %}

{% block content %}
<div class='container main-wrapper'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/listcompany">Company</a></li>
        <li role="presentation" class="active"><a href="/listjd">Job Description</a></li>
      </ul>
      <div class="panel panel-default">
<!--         <div class='panel-heading'>Company Lists</div> -->
        <div id="toolbar" class="btn-group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addJDModal">
              <i class="glyphicon glyphicon-plus"></i>
          </button>
          <button type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
        <table data-toggle="table"  data-url="/listjd" data-search="true" data-show-refresh="true" data-click-to-select="true" data-toolbar="#toolbar" data-height='500'>
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th>Company Name</th>
              <th>JD Project Name</th>
              <th>Job Description</th>
              <th>Aciton</th>
            </tr>
          </thead>
          <tbody>
            {% for item in result %}
            <tr>
              <td data-field="state" data-checkbox="true"></td>
              <td>{{ item.company }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>
                <a class='btn btn-primary btn-xs match' href='/lsipage?jd_id={{ item.id }}' target='_blank'>Match</a>
                {% if filename %}
                  <button type='button' class='btn btn-success btn-xs cv-jd-match' title='{{ filename }}' data-toggle="modal" data-target=".bs-example-modal-lg">OneToOne</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- panel end -->
    </div><!-- col-md end -->
  </div><!-- row end -->
</div><!-- container end -->

<div class="modal fade" id="addJDModal" tabindex="-1" role="dialog" aria-labelledby="AddJobDescription">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AddJobDescription">Add Job Description</h4>
      </div><!-- modal-header end -->
      <div class="modal-body" id='jd-madal-body'>
        <div class="form-group">
          <label for="company-name" class="control-label">Company Name:</label>
          <select class="form-control" id="company-name">
            {% for item in names %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="company-name" class="control-label">Job Description Project Name:</label>
          <input type="text" class="form-control" id="jd-project-name">
        </div>
        <div class="form-group">
          <label for="introduction" class="control-label">Job Description:</label>
          <textarea class="form-control" id="jd" rows='4'></textarea>
        </div>
      </div><!-- modal-body end -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='save-jd'>Save</button>
      </div><!-- modal-footer end -->
    </div><!-- modal-content end -->
  </div><!-- modal-dialog end -->
</div><!-- Add company modal end -->

{% if filename %}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ChartsModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Radar Charts</h4>
      </div>
      <div class="modal-body">
        <div id='chart-wrapper'>
        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Charts modal end -->
{% endif %}
{% endblock %}

{% block script %}
<script data-main="{{ url_for('static', filename='js/src/jdview.js') }}" src='{{ url_for("static", filename="js/lib/require.js") }}'></script>
{% endblock %}