{% extends "share/layout.html" %}
{% block title %}
<title>Match Result-Willendare</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lib/css/bootstrap-table.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='src/css/jdview.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='src/css/searchresult.css') }}">
<style type="text/css">
  .result-list{
    margin-top: 20px;
  }
  .wrap-left, #result{
    width: 50%;
    display: block;
    float: left;
  }
  textarea{
    margin-top: 2px;
    width: 100%;
  }
  #result{
    overflow-y: auto;
    border: 1px solid #e2e2e2;
    background-color: #fff;
  }
  .result-item:nth-child(even){
    background-color: #eee;
  }
  .result-item ul li{
    float: left;
    width: 16.66%;
  }
  .crawl-item{
    background-color: #f2f2f2;
  }
</style>
{% endblock %}

{% block content %}
{% if button_bar %}
<div class="sidebar-wrap">
  <div class="operate-menu" id="operateMenu">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </div>
  <div class="operate-list">
    <div class="database-box">
      <div class="title">Database</div>
      <div class="database-list">
        {% for e in sim_names %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="database-item" value="{{ e }}" />{{ e }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="line"></div>
    <div class="tool-bar">
      <button class="btn btn-primary" id="competency-btn">Show Competency</button>
      <button class="btn btn-primary" id="experience-btn">Show Work experience</button>
      <button class="btn btn-primary" id="vd-valuable">Show Radar Chart</button>
      <div class="checkbox anonymous">
        <label>
          <input type="checkbox" id="anonymous-checkbox" />Anonymous
        </label>
      </div>
    </div>
    <div class="line"></div>
    <div class="sel-list" id="sel-list">
    </div>
    <div class="line"></div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary history-btn" id="hisBtnTrigger">
      Choose by history
    </button>
  </div>
</div>
<div class="modal fade charts-view-modal" id="chartsModal" tabindex="-1" role="dialog" aria-labelledby="ChartsModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="chartsViewLabel">Charts View</h4>
      </div>
      <div class="modal-body">
        <div class="chart-wrapper" id="echarts-wrap"></div>
        <div id="action-msg"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Charts modal end -->

<div class="modal fade history-view-modal" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="HistoryModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="historyViewLabel">History View</h4>
      </div>
      <div class="modal-body" id="historyModalBody">
        <table id="historyTable" data-show-refresh="true" data-click-to-select="true" data-pagination="true" data-search="true" data-height="400">
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="name">Name</th>
              <th data-field="fileName">File Name</th>
              <th data-field="time">Time</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Charts modal end -->
{% endif %}
<div class="col-md-10 col-md-offset-1 result-list">
  {% if result %}
  {% for item in result %}
  <div class="result-list-item {% if item[2].author == 'SCRAPPY'%}crawl-item{% endif %}">
    <div class="item-link">
      <input type="checkbox" class="checkbox-name" />
      <a href="/show/{{ item[0] }}" class="item-title" target="_blank">{{ item[1].name }}-{{ item[1].origin }}-{{ item[1].id }}</a>
      <em class="item-operate">{{ item[2].author }}, {{ item[2].time }}
      </em>
      <p style="display: none;">{{ item[2].match }}</p>
      {% if item[1].enversion %}
      <a href="/edit/{{ item[1].enversion }}" target="_blank" class="check-en">English CV</a>
      {% endif %}
    </div>
    <div class="container-fluid">
      <ul class="list-unstyled info">
        <li class="name"><strong>Name: </strong><span>{{ item[1].name }}</span></li>
        <li class="age"><strong>Age: </strong><span>{{ item[1].age }}</span></li>
        <li class="education"><strong>Education: </strong><span>{{ item[1].education }}</span></li>
        <li class="school"><strong>University: </strong><span>{{ item[1].school }}</span></li>
        <li class="position"><strong>Position: </strong><span>{{ item[1].position }}</span></li>
        <li class="company"><strong>Company: </strong><span>{{ item[1].company }}</span></li>
      </ul>
    </div>
    <div class="work-experience">
      {% if item[1].experience | length > 4 %}
      <a href="javascript:;" class="show-more">Unfold</a>
      {% endif %}
      {% for e in item[1].experience %}
      {% if loop.index > 4 %}
      <div class="experience-hide">
        <div class="experience-time">{{ e[0] }} - {{ e[1] }}</div>
        <div class="experience-company">{{ e[2] }}</div>
      </div>
      {% else %}
      <div>
        <div class="experience-time">{{ e[0] }} - {{ e[1] }}</div>
        <div class="experience-company">{{ e[2] }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="label-box">
      <span class="label-title">Tags:</span>
      {% for tags in item[1].tag %}
      <span class="label label-primary" title="{{ tags.author }}">{{ tags.content }}</span>
      {% endfor %}
    </div>
    <div class="tracking-box">
      <a href="javascript:;" class="tracking-link"><span>+</span>Follow up</a>
      <div class="tracking-info">
        <span class="triangle-up"></span>
        <span class="triangle-up-z"></span>
        <ul class="list-inline clearfix">
          {% for tracking in item[1].tracking %}
          <li>{{ tracking.author }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="comment-box">
      <a href="javascript:;" class="comment-link"><span>+</span>Comments</a>
      <div class="comment-info">
        <span class="triangle-up"></span>
        <span class="triangle-up-z"></span>
        <ul class="list-unstyled clearfix">
          {% for comments in item[1].comment %}
          {%- if loop.index > 3 %}{% break %}{% endif %}
          <li class="comment-item">
            <p>{{ comments.content }}</p>
            <em class="author">{{ comments.author }}</em>
          </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <nav>
    <ul class="pagination">
      <li>
        <a href="/lsipage?{{ param }}&page=1">first</a>
      </li>
      {% if cur_page <= 1%}
      <li class="disabled">
        <a href="javascript: void(0);" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li>
        <a href="/lsipage?{{ param }}&page={{ cur_page-1 }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if pages <= 3 %}
      {% for p_num in range(pages) %}
      <li class="{% if cur_page == p_num+1 %} active {% endif %}" id="{{p_num}}"><a href="/lsipage?{{ param }}&page={{ p_num+1 }}">{{ p_num+1 }}</a></li>
      {% endfor %}
      {% else %}
      {% if cur_page < pages - 2 %}
      <li class="active"><a href="/lsipage?{{ param }}&page={{ cur_page }}">{{ cur_page }}</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ cur_page+1 }}">{{ cur_page+1 }}</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ cur_page+2 }}">{{ cur_page+2}}</a></li>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ pages }}">{{ pages }}</a></li>
      {% else %}
      <li class="disabled"><a href="#">...</a></li>
      {% for num in range(2,-1,-1) %}
      <li class="{% if cur_page == pages-num %} active {% endif %}" id="{{num}}"><a href="/lsipage?{{ param }}&page={{ pages-num }}">{{ pages-num }}</a></li>
      {% endfor %}
      {% endif %}
      {% endif %}
      {% if cur_page >= pages %}
      <li class="disabled">
        <a href="javascript: void(0);" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li>
        <a href="/lsipage?{{ param }}&page={{ cur_page+1 }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="/lsipage?{{ param }}&page={{ pages }}">last</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block script%}
<script src="{{ url_for('static', filename='lib/js/echarts.min.js') }}"></script>
<script data-main="{{ url_for('static', filename='src/js/modules/search_result.js') }}" src="{{ url_for('static', filename='lib/js/require.js') }}"></script>
{% endblock%}
