{% extends "share/layout.html" %}
{% block title %}
<title>Match Result-Willendare</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='lib/css/bootstrap-table.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='src/css/result_common.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='src/css/lsipage.css') }}">
{% endblock %}


{% block content %}
{% if button_bar %}
<div class="sidebar-wrap">
  <div class="operate-menu" id="operateMenu">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </div>
  <div class="operate-list">
    <div class="database-box">
      <div class="title">Database</div>
      <div class="database-list">
        {% for e in sim_names %}
        <div class="checkbox">
          <label>
            <input type="checkbox" class="database-item" value="{{ e }}" />{{ e }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="line"></div>
    <div class="tool-bar">
      <button class="btn btn-primary" id="competencyBtn">Show Competency</button>
      <button class="btn btn-primary" id="experienceBtn">Show Work experience</button>
      <button class="btn btn-primary" id="vdValuable">Show Radar Chart</button>
      <div class="checkbox anonymous">
        <label>
          <input type="checkbox" id="anonymous-checkbox" />Anonymous
        </label>
      </div>
    </div>
    <div class="line"></div>
    <div class="sel-list" id="seletedList">
    </div>
    <div class="line"></div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary history-btn" id="hisBtnTrigger">
      Choose by history
    </button>
  </div>
</div>
<div class="modal fade charts-view-modal" id="chartsModal" tabindex="-1" role="dialog" aria-labelledby="ChartsModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="chartsViewLabel">Charts View</h4>
      </div>
      <div class="modal-body">
        <div class="chart-wrapper" id="echartWrap"></div>
        <div class="ac-msg" id="actionMsg"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Charts modal end -->

<div class="modal fade history-view-modal" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="HistoryModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="historyViewLabel">History View</h4>
      </div>
      <div class="modal-body" id="historyModalBody">
        <table id="historyTable" data-show-refresh="true" data-click-to-select="true" data-pagination="true" data-search="true" data-height="400">
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="id">Id</th>
              <th data-field="name">Name</th>
              <th data-field="filename">File Name</th>
              <th data-field="time">Time</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- Charts modal end -->
{% endif %}

<div class="tool-bar-wrap mg-center clearfix">
  <div class="cw">
    {% if result %}
    <div class="r-amount">About <span class="num">{{ nums }}</span> results</div>
    {% else %}
    <div class="r-amount">Your did not match any documents.</div>
    {% endif %}
    <div class="s-st">
      <label>Conditions: </label>
      <span id="conditionList"></span>
    </div>
  </div>
  <div class="aw">
    <form class="form-horizontal" id="filterForm" action="/lsipage" method="GET">
      <div class="form-group">
        <label class="control-label filter-control-label" for="currentPlaces">Current Places</label>
        <input class="form-control filter-form-control" id="currentPlaces" type="text" name="currentPlaces"  placeholder="Current Places" />
      </div>
      <div class="form-group">
        <label class="control-label filter-control-label" for="expectationPlaces">Expectation Places</label>
        <input class="form-control filter-form-control" id="expectationPlaces" type="text" name="expectationPlaces"  placeholder="Expectation Places" />
      </div>
      <div class="form-group">
        <label class="control-label filter-control-label">Gender</label>
        <div class="filter-form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" id="allGenderRadio" value=""> All
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="maleRadio" value="男"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="femalRadio" value="女"> Female
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label filter-control-label">Education</label>
        <div class="filter-form-control education-form-control">
          <label class="radio-inline">
            <input type="radio" name="education" id="alleducationRadio" value=""> All
          </label>
          <label class="radio-inline">
            <input type="radio" name="education" id="collegeRadio" value="大专"> College
          </label>
          <label class="radio-inline">
            <input type="radio" name="education" id="undergraduateRadio" value="本科"> Undergraduate
          </label>
          <label class="radio-inline">
            <input type="radio" name="education" id="masterRadio" value="硕士"> Master
          </label>
          <label class="radio-inline">
            <input type="radio" name="education" id="doctorRadio" value="博士"> Doctor
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label filter-control-label">Marital Status</label>
        <div class="filter-form-control">
          <label class="radio-inline">
            <input type="radio" name="marriedStatus" id="allmarriedRadio" value=""> All
          </label>
          <label class="radio-inline">
            <input type="radio" name="marriedStatus" id="unmarriedRadio" value="未婚"> Unmarried
          </label>
          <label class="radio-inline">
            <input type="radio" name="marriedStatus" id="marriedRadio" value="已婚"> Married
          </label>
        </div>
      </div>
      <button type="button" id="filterBtn" class="btn btn-primary filter-btn">Search</button>
    </form>
  </div>
  <div class="up-down-box" id="toolWrapUpDown" data-flag="true">
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </div>
</div>

<div class="rl mg-center">
  <div class="field">
    <div class="ls field-item wd-200">Name</div>
    <div class="ls field-item wd-60">Gender</div>
    <div class="ls field-item wd-56">Age</div>
    <div class="ls field-item wd-80">Marriage</div>
    <div class="ls field-item wd-100">Education</div>
    <div class="ls field-item wd-180">University</div>
    <div class="ls field-item wd-120">Position</div>
    <div class="ls field-item wd-200">Company</div>
  </div>
  <div class="blank-line"></div>
  {% if result %}
  {% for item in result %}
  <div class="ls-item {% if item[2].author == 'SCRAPPY'%}crawl-item{% endif %}">
    <div class="basic-info">
      <div class="ls bs-info-item wd-200 pd-lr-10 omit">
        <input type="checkbox" class="checkbox-name" />
        <a class="item-title" href="/show/{{ item[0] }}" target="_blank" data-id="{{ item[1].id }}" data-match="{{ item[2].match }}" title="{{ item[1].name }}-{{ item[1].origin }}-{{ item[1].id }}">{{ item[1].name }}-{{ item[1].origin }}-{{ item[1].id }}</a>
      </div>
      <div class="ls bs-info-item wd-60 pd-lr-10 omit" title="{{ item[1].gender }}">{{ item[1].gender }}</div>
      <div class="ls bs-info-item wd-56 pd-lr-10 omit" title="{{ item[1].age }}">{{ item[1].age }}</div>
      {% if item[1].marital_status %}
      <div class="ls bs-info-item wd-80 pd-lr-10 omit" title="{{ item[1].marital_status }}">{{ item[1].marital_status }}</div>
      {% else %}
      <div class="ls bs-info-item wd-80 pd-lr-10 omit" title=""></div>
      {% endif %}
      <div class="ls bs-info-item wd-100 pd-lr-10 omit" title="{{ item[1].education }}">{{ item[1].education }}</div>
      <div class="ls bs-info-item wd-180 pd-lr-10 omit" title="{{ item[1].school }}">{{ item[1].school }}</div>
      <div class="ls bs-info-item wd-120 pd-lr-10 omit" title="{{ item[1].position }}">{{ item[1].position }}</div>
      <div class="ls bs-info-item wd-200 pd-lr-10 omit" title="{{ item[1].company }}">{{ item[1].company }}</div>
    </div>
    <div class="extend-info clearfix">
      <div class="wk-ex wd-360 bd-r-1">
        <label>Work Experience:</label>
        <ul class="list-unstyled">
          {% if item[1].experience | length - 2 >= 2 %}
          {% for e in item[1].experience %}
          {% if loop.index > 2 %}
          <li class="ex-fold">
            <span class="wd-120 omit" title="{{ e[0] }} - {{ e[1] }}">{{ e[0] }} - {{ e[1] }}</span>
            <span class="wd-200 omit" title="{{ e[2] }}">{{ e[2] }}</span>
          </li>
          {% else %}
          <li>
            <span class="wd-120 omit" title="{{ e[0] }} - {{ e[1] }}">{{ e[0] }} - {{ e[1] }}</span>
            <span class="wd-200 omit" title="{{ e[2] }}">{{ e[2] }}</span>
          </li>
          {% endif %}
          {% endfor %}
          <a href="javascript:;" class="show-more">Unfold</a>
          {% else %}

          {% for e in item[1].experience %}
          <li>
            <span class="wd-120 omit" title="{{ e[0] }} - {{ e[1] }}">{{ e[0] }} - {{ e[1] }}</span>
            <span class="wd-200 omit" title="{{ e[2] }}">{{ e[2] }}</span>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div class="ed-ex wd-360 pd-lr-15 bd-r-1">
        <label>Education Experience:</label>
        <ul class="list-unstyled">
        </ul>
      </div>
      <div class="wk-status pd-l-15">
        <div class="cur">
          <label>Current:</label>
          {% if item[1].current %}
          <div class="money">
            <span>Money:</span>
            <span>{% if item[1].current.salary %}{{ item[1].current.salary.yearly }}{% endif %}</span>
          </div>
          <div class="position">
            <span>Place:</span>
            <span>
            {% if item[1].current.places %}
            {% for e in item[1].current.places %}
            {{ e }}&nbsp;
            {% endfor %}
            {% endif %}
            </span>
          </div>
          {% endif %}
        </div>
        <div class="exp">
          <label>Expectation:</label>
          {% if item[1].expectation %}
          <div class="money">
            <span>Money:</span>
            <span>{% if item[1].expectation.salary %}{{ item[1].expectation.salary.yearly }}{% endif %}</span>
          </div>
          <div class="position">
            <span>Place:</span>
            <span>
            {% if item[1].expectation.places %}
            {% for e in item[1].expectation.places %}
            {{ e }}&nbsp;
            {% endfor %}
            {% endif %}
            </span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <nav>
    <ul class="pagination">
      <li>
        <a href="/lsipage?{{ param }}&page=1">first</a>
      </li>
      {% if cur_page <= 1%}
      <li class="disabled">
        <a href="javascript: void(0);" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li>
        <a href="/lsipage?{{ param }}&page={{ cur_page-1 }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if pages <= 3 %}
      {% for p_num in range(pages) %}
      <li class="{% if cur_page == p_num+1 %} active {% endif %}" id="{{p_num}}"><a href="/lsipage?{{ param }}&page={{ p_num+1 }}">{{ p_num+1 }}</a></li>
      {% endfor %}
      {% else %}
      {% if cur_page < pages - 2 %}
      {% if cur_page -2 > 0 %}
      <li><a href="/lsipage?{{ param }}&page={{ cur_page-2 }}">{{ cur_page-2 }}</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ cur_page-1 }}">{{ cur_page-1 }}</a></li>
      {% endif %}
      <li class="active"><a href="/lsipage?{{ param }}&page={{ cur_page }}">{{ cur_page }}</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ cur_page+1 }}">{{ cur_page+1 }}</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ cur_page+2 }}">{{ cur_page+2}}</a></li>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="/lsipage?{{ param }}&page={{ pages }}">{{ pages }}</a></li>
      {% else %}
      <li class="disabled"><a href="#">...</a></li>
      {% for num in range(2,-1,-1) %}
      <li class="{% if cur_page == pages-num %} active {% endif %}" id="{{num}}"><a href="/lsipage?{{ param }}&page={{ pages-num }}">{{ pages-num }}</a></li>
      {% endfor %}
      {% endif %}
      {% endif %}
      {% if cur_page >= pages %}
      <li class="disabled">
        <a href="javascript: void(0);" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li>
        <a href="/lsipage?{{ param }}&page={{ cur_page+1 }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="/lsipage?{{ param }}&page={{ pages }}">last</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block script%}
<script src="{{ url_for('static', filename='lib/js/echarts.min.js') }}"></script>
<script data-main="{{ url_for('static', filename='src/js/modules/match_result_module.js') }}" src="{{ url_for('static', filename='lib/js/require.js') }}"></script>
{% endblock%}
