{% extends "share/layout.html" %}
{% block content %}
<style type="text/css">
	textarea, #preview{
		display: block;
		width: 50%;
		float: left;
	}
	#preview{
		padding-left: 8px;
		padding-right: 8px;
		overflow-y: auto;
		background-color: #000;
		color: #fff;
	}
</style>
<div class="wrap clearfix">
	<textarea>
	{{ markdown }}
	</textarea>
	<div id="preview">
	</div>
</div>

<script data-main="{{ url_for('static', filename='src/js/modules/modify.js') }}" src="{{ url_for('static', filename='lib/js/require.js') }}"></script>
{% endblock%}
