{% extends "share/cv_layout.html" %}
{% block content %}
{% if method %}
<div class="form-btn clearfix" style="padding:10px 0;">
  <button type="button" class="btn btn-primary" id="enconfirm-btn" style="float:right; margin-right:10px;">Confirm</button>
  <button type="button" class="btn btn-default" id="goback-btn" style="float:right; margin-right:10px;">Go back</button>
</div>
{% endif %}
<div id="cv-box">
  <div class="cv-box-top">
    <span>简历情况：</span>
  </div>
  <div id="cv-content">
    <div class="content">
      <img id="loding-img" src="{{  url_for('static', filename='images/loading.gif') }}">
      {{ markdown|safe }}
    </div>
  </div>
</div>
<script data-main="{{ url_for('static', filename='src/js/modules/preview.js') }}" src="{{ url_for('static', filename='lib/js/require.js') }}"></script>
{% endblock %}
