<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
	<style type="text/css">
	.wrap{
		position: relative;
		height: 100%;
		min-height: 600px;
		background-color: #c2c2c2;
		opacity: 0.8;
		z-index: 2;
	}
	.info-box{
	  position: absolute;
	  width: 300px;
	  height: 200px;
	  top: 50%;
	  left: 50%;
	  margin-top: -100px;
	  margin-left: -150px;
	  background-color: #f2f2f2;
	  border-radius: 8px;
	  line-height: 200px;
	  text-align: center;
	}
	</style>
</head>
<body>
	<header class="header-box">
	  <div class="col-md-2 col-md-offset-5">
	  	<img src="../static/images/logo.png">
	  </div>
	</header>
	
	<div class="wrap">
	  <div class="info-box">
	  	<p>Not Login. <span id="time">5</span>s to skipping.<a href="/">Login</a></p>
	  </div>
	</div>

	<script type="text/javascript">
		window.onload = function(){
			var aTime = document.getElementById("time");
			var time = aTime.innerHTML;
			setTimeout(function(){
				time = parseInt(time);
				if(time != 0)
				{
					time--;
					aTime.innerHTML = time;
					setTimeout(arguments.callee,1000);
				}
				if(time == 0)
				{
					window.location.href = "/"
				}

			},1000);
		}
	</script>
</body>
</html>