{% extends "share/layout.html" %}
{% block content %}
	<div class="search-box">
	  <form action="/search" method="POST">
	  	<input type="text" placeholder="Search for ..." class="search-text" id="search-text" name="search_text" required="required"/>
	  	<button type="submit" class="search-btn" id="search-btn">Search</button>
	  </form>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript" data-main="{{ url_for('static', filename='js/src/search') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
{% endblock %}