{% extends "share/layout.html" %}
{% block title %}
<title>Search-Willendare</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='src/css/search.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="search-box" id="search-box">
    <form action="/search" method="GET" id="serachbykey">
      <input type="text" class="form-control" name="search_text" />
      <button type="submit" class="btn btn-primary search-btn" id="keywordBtn">Search by keyword</button>
    </form>
    <form action="/lsipage" method="GET" id="serachbysentence">
      <textarea class="form-control" name="jd_doc"></textarea>
      <input class="hide-param" type="text" name="page" value="1"/>
      <button type="submit" class="btn btn-success search-btn" id="sentenceBtn">Search by sentence</button>
    </form>
    <div class="type-check">
      <input id="check" class="check-btn" type="checkbox" />
      <label for="check"></label>
      <span>Job Description Search?</span>
    </div>
  </div>
</div>
<div class="count" id="count">
  <div class="count-list" id="countList">
  </div>
  <div class="total" id="total"></div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" data-main="{{ url_for('static', filename='src/js/modules/search.js') }}" src="{{ url_for('static', filename='lib/js/require.js')}}"></script>
{% endblock %}
