<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
        <title>CV Upload</title>
    </head>
    <body>
        <h1>CV File Upload <span>With jQuery and CSS</span></h1>
        <h3>{{ result }}</h3>
        <form id="upload_form" action="upload" method="post" enctype="multipart/form-data">
            <div class="custom-file-upload">
                <input type="file" id="file" name="file" multiple />
            </div>
            <div>
                <p>
                    <input type="submit" value="PREVIEW"></input>
                </p>
            </div>
        </form>
    </body>
    <script language=javascript>

    </script>
    <script type="text/javascript" src="static/js/upload.js"></script>
</html>
