{% extends "share/layout.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/userinfo.css') }}">
{% endblock %}

{% block content %}
	<div class="col-md-6 col-md-offset-3 per-info">
	  	<div class="per-info-box">
	  	  <h2>{{ current_user.id }}</h2>
	  	</div>  	
	</div>
	<div class="col-md-6 col-md-offset-3 newupdate-box">
	  <div class="newupdate-box-top">
	    <h2 class="newupdate-title">New Update</h2>
	  </div>
	  <div class="newupdate-box-bottom">
	  	<div class="operate-list clearfix">
	  		{% for item in info %}
	  	  <div class="operate-list-item">
	  	    <span>{{ item.time }}</span>
	  	    <p>{{ item.message }}</p>
	  	  </div>
	  	  {% endfor %}
	  	</div>
	  </div>
	</div>
{% endblock %}