@PrefixCls: cs-addposition;

.@{PrefixCls} {
  margin: 0 auto;
  margin-top: 20px;

  .ant-form {
    width: 500px;
    margin: auto;

    .ant-form-item {
      margin-bottom: 0px !important;
    }

    .ant-btn {
      margin-top: 15px;
      width: 100%;
    }
  }

  .cs-addposition-result {
    margin-top: 15px;

    .ant-table-wrapper {
      border: 2px solid #649ac8;
    }
  }

  .cs-search-result {
    margin-top: 15px;
  }
}



