.cs-search-result {
  width: 1080px;
  margin: 0 auto;

  .cs-search-result-header {
    background-color: #337ab7;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;

    .header-cell {
      text-align: center;
      color: #fff;
    }
  }

  .cs-ls-i {
    width: 1080px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #fff;

    .ant-card-body {
      padding: 0;
    }
    
    .omit {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .basic-info {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    
    .extend-info {
      background-color: #fff;
      padding: 10px 0;
      border-top: 1px #c2c2c2 dashed;

      .extend-info-l-row {
        padding: 6px 0;
      }
      
      .extend-info-r-row {
        padding: 2px 0;
      }

      .extend-info-label {
        text-align: right;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  .cs-search-result-bottom {
    padding: 40px 0;
  }
  
  .showed {
    display: block;
  }
  
  .hidden {
    display: none;
  }
}