body {
  background-color: #f4f4f4;  
}

#app {
  width: 100%;
  height: auto;
  min-width: 1024px;
  padding-bottom: 64px;
}

.cs-layout-container {
  position: relative;
  padding: 0 50px;
}

.cs-layout-breadcrumb {
  margin-left: 24px;
  padding: 8px 0;
}

.cs-layout-card-sider {
  width: 224px;
  float: left;
}

.cs-layout-card-content {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;
}

.cs-editing {
  display: inline;

  & > a {
    margin-right: 8px;
  }
}

.cs-item-row {
  margin-bottom: 8px;
  overflow: hidden;

  &-label {
    position: relative;
    display: block;
    width: 18%;
    text-align: right;
    float: left;
    font-weight: 700;

    &:after {
      content: ':';
    }
  }

  &-content {
    position: relative;
    display: block;
    width: 77.999%;
    margin-left: 4%;
    float: left;

    &-text {
      display: inline-block;
      width: 100%;
    }

    .ommit {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .edit-icon-hide {
      display: none;
    }

    .edit-icon-show {
      position: absolute;
      display: inline-block;
      bottom: 8px;
      right: 0;

      &:hover {
        color: #337ab7;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .mg-bottom {
    margin-bottom: 8px;
  }

  .edit-input {
    display: inline-block;

    .editing {
      display: 'inline-block';

      & > a {
        margin-right: 8px;
      }
    }

    .editing-showed {
      display: 'block' !important;
    }
  }
}

.visiting-label {
  width: 4.499% !important;
}

.visiting-content {
  margin-left: 2.499% !important;
  width: 91% !important;

  ul {
    list-style: initial;
  }

  .visiting-item {
    display: list-item;

    .visiting-author {
      padding: 0 16px;
    
    }
    .visiting-detail {
      padding-right: 16px;
    }
  }
  
  .visiting-item-hide {
    display: none;
  }

  .visiting-opearator {
    width: 40%;

    .visiting-form {
      & > button {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
}

.cs-input-group {
  input {
    display: inline-block;
    width: 99.999%;
  }

  .cs-button-group {
    display: inline-block;
    margin-top: 8px;

    button {
      margin-left: 4px;
    }
  }
}

.cs-card-inner {
  .cs-card-inner-top {
    padding-bottom: 16px;

    &-col {
      display: inline-block;
      width: 16.999%;
      margin-left: 16px;
    }

    &-col:first-of-type {
      margin-left: 0 !important;
    }
  }

  .cs-card-inner-bottom {
    padding: 16px 0;
    overflow: hidden;

    .ant-pagination {
      float: right;
    }
  }
}

.cs-additional-input-group {
  padding: 8px 0;

  & > button {
    margin-top: 8px;
  }
}

.cs-extra-row {
  line-height: 24px;
  margin-bottom: 8px;

  .cs-extra-item {
    display: inline-block;
    margin-right: 8px;
  }
}

.cs-status-selection {
  display: inline-block;
  margin-left: 10px;

  .cs-status-selection-label {
    display: inline-block;
    padding: 0 8px;
  }
}