.header
{
    width: 100%;
    height: 60px;

    background-color: #337ab7;
}

.headerWrap
{
    position: relative;

    width: 1050px;
    height: inherit;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
