@csVisitingFormPrefixCls: cs-visiting-form;

.@{csVisitingFormPrefixCls} {
  margin-top: 8px;
  overflow: hidden;

  &-icon {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #337ab7;
    margin-right: 8px;
    text-align: center;
    line-height: 32px;

    &-user {
      color: #fff;
      font-weight: 700;
    }
  }

  &-field {
    float: left;
    width: 80%;

    .ant-input-wrapper {
      width: 330px;
      display: inline-block;
      margin-right: 8px;
    }
  }
}