body {
    background: #EAF3F3;
}

/* LIST #8 */
#list8 {  }
#list8 ul { list-style:none; }
#list8 ul li { font-family:Georgia,serif,Times; font-size:19px; }
#list8 ul li a { display:block; width:1200px; height:40px; background-color:#EAF3F3; border-left:5px solid #024457; border-right:5px solid #024457; padding-top:20px; padding-left:10px;
  text-decoration:none; color:#000; }
#list8 ul li a:hover {  -moz-transform:rotate(-2deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-2deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-2deg); box-shadow:10px 10px 20px #000000; }