<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='listdata.css') }}">
        <title>ListData Templates</title>
    </head>
    <body>
        <div>
            <img alt="Test Image" src="https://pypi.python.org/static/images/python-logo.png" />
        </div>
        <div id="list8">
            <ul>
                {% for data in datas %}
                <li><a href="/showtest/{{ data[0] }}.md">{{ data[0] }}</a></li>
                <table>
                        {% for info in data[1] %}
                        <tr>
                        <td>{{ info }}</td>
                        <td>{{ data[1][info] }}</td>
                        </tr>
                        {% endfor %}
                </table>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
