<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/listdata.css">
        <title>ListData Templates</title>
    </head>
    <body>
        <div>
            <img alt="Test Image" src="https://pypi.python.org/static/images/python-logo.png" />
        </div>
        <div id="list8">
            <ul>
                {% for data in datas %}
                <li><a href="/showtest/{{ data }}.md">{{ data }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
