@draggerUploadPrefixCls: cs-upload;

.@{draggerUploadPrefixCls} {
  width: 720px;
  min-height: 180px;
  margin: 0 auto;

  .ant-upload-list-item-done{
    color: #22b918;
    i {
      color: #22b918 !important;
    }
  }
}

@draggerUploadCVsDocPrefixCls: cvsdoc-upload;

.@{draggerUploadCVsDocPrefixCls} {
  width: 360px;
  margin: 0 auto;
}
