
@indexMainPrefixCls: cs-container;

@{indexMainPrefixCls} {
  position: absolute;
  width: 100%;
  height: 100%;

  &-center {
    width: 100%;
    margin: 0 auto;
  }
}
  
  .copyright {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 20px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 1px;
     p {
    font-size: 1em;
    margin-bottom: 6px;
    text-align: center;
}
  }

  .cs-container-center-flow{
    margin-top: 5%;
    margin-left: 65%;

    & .ant-tabs-nav .ant-tabs-tab {
    font-weight: bold;
    font-size: 16px;
    }

  }

  .cs-container-center-info {
    position: absolute;
    padding: 3% 5% 0px;
    left: 5%;
    width: 550px;
      h1 {
        color: white;
        font-size: 33px;
        line-height: 38px;
      }
      p {
        color: white;
        font-size: 18px;
        padding-top: 5px;
        padding-left: 3px;
      }
    }

.viewport{
    background:rgba(0,0,0,0) url(../../../image/background.png) no-repeat;
    background-size:cover;
  }
