.container-fluid{
	margin-top: 10px;
}
.wrap-right{
	width: 30%;
	position: fixed;
	right: 1%;
}
.wrap-left{
	width: 68%;
}
.follow-up-box, .comment-box{
	width: 100%;
	height: auto;
	padding: 0 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #ccc;
	-webkit-box-shadow: 0 0 10px #c2c2c2;
	-moz-box-shadow: 0 0 10px #c2c2c2;
	-ms-box-shadow: 0 0 10px #c2c2c2;
	-o-box-shadow: 0 0 10px #c2c2c2;
	box-shadow: 0 0 10px #c2c2c2;
}
.comment-box{
	margin-top: 8px;
}
.label-box{
	width: 100%;
	height: auto;
	margin-bottom: 4px;
}
#add-label{
	font-size: 0.75em;
}
.title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	text-indent: 2px;
}
.form-input{
	margin-top: 2px; 
}
.form-input .form-group{
	margin: 2px;
}
#follow-up-btn, #comment-btn{
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 2px;
}
#comment-btn{
	margin-top: 2px; 
}
.btn-box{
	display: none;
}
.follow-up-content, .comment-content{
	width: 100%;
	margin-bottom: 4px; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow-y: auto; 
}
.follow-up-content{
	max-height: 100px;
}
.comment-content{
	max-height: 160px;
}
.add-label-box{
	display: none;
	margin-top: 2px;
	width: 50%;
}