.wrap{
  width: 90%;
  margin: 0 auto;
}
.wrap-top{
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
}
.wrap-top .confirm-box{
  width: 400px;
  float: right;
  margin-top: 20px; 
}
#cv-box{
  display: none;
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding: 16px 10px;
  border: 1px solid #D9D9D9;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 14px #A3A3A3;
}
.cv-box-top{
  top: 0;
  width: 100%;
  height: 28px;
  line-height: 28px;
  margin-bottom: 8px;
}
.cv-box-top span{
  font-size: 1.375em;
  font-weight: bold;
}
p{
  display: table;
  margin: 0;
  width: 100%;
  padding: 16px 12px;
  border: 1px solid #c2c2c2;
  line-height: 28px;
  font-size: 1em;
}
#cv-box h1,h2,h3{
  display: table;
  width: 100%;
  margin: 0;
  padding: 16px 12px;
  font-size: 1.125em;
  font-weight: bold;
  border: 1px solid #c2c2c2;
}
table{
  width: 100%;
  font-size: 1em;
}
table thead{
  border: 1px solid #c2c2c2;
}
table thead tr th{
  padding-top: 8px;
  padding-bottom: 8px; 
  font-size: 1.125em;
  font-weight: bold;
  text-align: center;
}
table tr:nth-child(odd) {
  background-color: #EBEBEB;
}
table tbody{
  border:1px solid #c2c2c2;
}
table tbody tr td{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border: 1px solid #c2c2c2;
  line-height: 28px;
}