body{
  background-color: #F8F8FF;
}
.header-box{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #337ab7;
}
.logo{
  position: absolute;
  width: 174px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
}
@media (max-width: 768px){
  .logo{
    width: 20%;
  }
}
.search-item{
  position: absolute;
  width: 24%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.profile{
  position: absolute;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 768px){
  .search-item{
    width: 240px;
  }
  .profile{
    margin-left: 80%;
  }
}
.profile:hover{
  background-color: #004B97;
}
.profile:hover .profile-menu{
  display: block;
}
.profile #name{
  font-size: 1.25em;
  color: #fcfcfc;
}
.profile-menu{
  display: none;
  margin-top: -1px;
  background-color: #004B97;
}
.profile-menu a{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fcfcfc;
}
.profile-menu a:hover{
  text-decoration: none;
  background-color: #003D79;
}
.upload{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 768px){
  .upload{
  	display: none;
  }
}
.upload:hover{
  background-color: #003D79;
}
.upload-btn{
  position: relative;
  display:inline-block;
  overflow:hidden;
}
.upload-btn input{
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  cursor: pointer
}
.file-text{
  position: absolute;
  display: inline-block;
  width: 174px;
  overflow: hidden;
}
.search-box{
  position: absolute;
  width: 60%;
  height: 40px;
  margin-top: 140px;
  left: 50%;
  transform: translateX(-50%);
}
.search-text{
  display: inline-block;
  width: 89%;
  height: 40px;
}
.search-btn{
  display: inline-block;
  width: 10%;
  margin-left: -5px;
  height: 40px;
  outline: none;
  border: none;
  background-color:#337ab7;
  color: #fff;
  font-weight: bold;
}
.search-btn:hover{
  background-color: #003D79;
}
@media (max-width: 970px){
  .search-text{
    width: 79%;
  }
  .search-btn{
    width: 20%;
  }
}

/*********************Search result****************/
.result-list{
  margin-top: 26px;
}
.result-list-item{
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.item-link .item-title{
  font-size: 1.25em;
}
.item-link .item-operate{
  margin-left: 50px;
}
.item-content{
  padding: 6px 8px 0 12px;
}
.item-content ul li{
  float: left;
  margin-left: 8px;
}
.item-label,.item-comment{
  margin-left: 4px;
}
.item-label-content{
  display: none;
  position: relative;
  width: 204px;
  padding: 2px 4px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
}
.triangle-up{
  position: absolute;
  width:0;
  height:0;
  top: -6px;
  left: 12px;
  border-width:0 6px 6px;
  border-style:solid;
  border-color:transparent transparent #c2c2c2;/*透明 透明  灰*/
}
.triangle-up-border
{
  position: absolute;
  width:0;
  height:0;
  top: -5px;
  left: 12px;
  border-width:0 6px 6px;
  border-style:solid;
  border-color:transparent transparent #fff;/*透明 透明  灰*/
}
.item-comment-content{
  display: none;
  position: relative;
  width: 400px;
  padding: 2px 4px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
}
.comment-info{
  float: right;
}
.comment-items{
  padding: 4px 10px 10px 6px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.item-comment-bottom{
  margin-bottom: 6px;
  text-indent: 158px;
  color: #ccc;
}
