/* Search result page */
.result-list-item{
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.item-link .item-title{
  display: inline-block;
  width: 340px;
  font-size: 1.25em;
}
.item-link .item-operate{
  border-bottom: 1px solid #ccc;
}
.info li{
  float: left;
}
.info .name{
  width: 10%;
}
.info .age{
  width: 6%;
}
.info .education{
  width: 12%;
}
.info .school{
  width: 20%;
}
.info .position{
  width: 18%;
}
.info .company{
  width: 24%;
}
.info-wrapper{
  width: 100%;
  overflow: hidden;
}
.label-box, .tracking-box, .comment-box{
  margin-top: 2px;
  margin-left: 8px;
  font-size: 0.875em;
  float: left;
}
.label-box .label-title{
  color: #000;
  font-weight: normal;
}
.tracking-info, .comment-info{
  display: none;
  position: relative;
  margin-top: 4px;
  padding: 6px 8px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px #ccc;
  -moz-box-shadow: 0 0 8px #ccc;
  -ms-box-shadow: 0 0 8px #ccc;
  -o-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
.tracking-info{
  max-width: 300px;
  height: auto;
}
.comment-info{
  max-width: 600px;
  height: auto;
}
.triangle-up{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent transparent #c2c2c2;
  border-style: dashed dashed solid;
  border-width: 0 8px 8px;
  top: -8px;
  left: 10px;
}
.triangle-up-z{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent transparent #fff;
  border-style: dashed dashed solid;
  border-width: 0 8px 8px;
  top: -7px;
  left: 10px;
}
.tracking-info ul, .comment-info ul{
  margin-bottom: 0;
}
.comment-info ul li{
  border-bottom: 1px solid #eee;
}
.comment-info ul li .author{
  display: block;
  float: right;
  margin-right: 14px;
}
.comment-info ul li p{
  margin: 0;
  padding-top: 2px;
  padding-left: 2px;
}
.comment-info .comment-item{
  overflow: hidden;
}
.label-primary{
  cursor: pointer;
}
.work-experience{
  margin-top: 4px;
  padding-left: 50px;
  overflow: hidden;
  position: relative;
}
.work-experience a{
  font-size: 0.875em;
}
.work-experience .experience-time{
  width: 20%;
  float: left;
}
.work-experience .experience-company{
  width: 79%;
  float: left;
}
@media (max-width: 991px) {
  .work-experience .experience-time{
    width: 30%;
  }
  .work-experience .experience-company{
    width: 69%;
  }
}
@media (max-width: 767px) {
  .work-experience .experience-time{
    width: 38%;
  }
  .work-experience .experience-company{
    width: 61%;
  }
}
.experience-show{
  width: 100%;
  overflow: hidden;
}
.experience-hide{
  display: none;
  width: 100%;
  overflow: hidden;
}
.show-more{
  position: absolute;
  top: 2px;
  left: 0
}
.check-en{
  margin-left: 30px;
  font-size: 0.875em;
}
.tool-bar{
  margin-top: 6px;
  margin-bottom: 26px;
}
#data-main{
  width:100%;
  margin-bottom: 40px;
}
#echarts-wrap{
  width: 84%;
  height:500px;
  margin: 0 auto;
}
#action-msg{
  overflow: hidden;
}
#action-msg a{
  margin-left: 6px;
}
.vd-region{
  margin-left: 20px;
}
@media (max-width: 767px) {
  .header-search{
    display: none;
  }
}
