@searchResultPrefixCls: cs-search-result;

#app {
  position: relative;
  width: 100%;
  min-width: 1024px;
  min-height: 100%;
}

/* SearchResult component style */
.@{searchResultPrefixCls} {
  &-top {
    width: 680px;
    margin: 0 auto;
    padding: 16px;
  }

  &-container {
    .top-container {
      border: 1px solid #eee;
      border-radius: 4px;
      background-color: #fff;
      padding: 24px;
      margin: 0 auto;
      margin-bottom: 24px;
      overflow: hidden;

      .left-wrap {
        width: 49%;
        float: left;
      }

      .right-wrap {
        width: 50%;
        float: left;
      }
    }

    .search-filter {
      padding-top: 62px;
    }
  }

  .cs-card-inner-pagination{
    float: right;
    padding: 16px 0;
    overflow: hidden;
  }
}